.profile {
  background-color: var(--colorSecundary);
  padding: var(--spacingx1);
  padding-left: var(--spacingx3);
  min-height: 130px;
  margin: 0px var(--spacingMiddle);
  margin-bottom: var(--spacingx1);
}

@media screen and (max-width: 320px) {
  .profile {
    padding-left: var(--spacingx1);
    margin: var(--spacingMin);
    text-align: center;
  }

  .profile p {
    margin-left: 0px;
  }
}